body{
  background-color: #eee;
  font-family: 'Lato', 'sans-serif';
}

#header{
  display: flex;
  position: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-img{
  max-width: 300px;
  width: 100%;
  height: 100%;
}


.logo{
  width: 60vw;
}

#nav-bar{
  font-weight: 400; 
  width: 35vw;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  list-style: none;

}
.nav-link{
  text-decoration: none;
  color: black;
  font-weight: 400;
}