body{
  background-color: #eee;
  font-family: 'Lato', 'sans-serif';
}

#header{
  display: flex;
  position: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-img{
  max-width: 300px;
  width: 100%;
  height: 100%;
}


.logo{
  width: 60vw;
}

#nav-bar{
  font-weight: 400; 
  width: 35vw;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  list-style: none;

}
.nav-link{
  text-decoration: none;
  color: black;
  font-weight: 400;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}
#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

.feature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

#grid{
  display: flex;
  flex-direction: row;
}

.icon{
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid{
  color: darkorange;
  font-size: 50px;
}